@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
}

body, p, h1, form, input, button, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('./confetti-doodles.svg') center;
}

.list-wraper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    border: 2px solid #fbfbfb;
    padding: 2em 4em;
}

.list-wraper h1 {
    color: #fbfbfb;
    margin-bottom: .5em;
}

.add-item {
    outline: none;
    width: 25rem;
    padding: .5em 1em;
}

.submit, .clear-list {
    cursor: pointer;
    padding: .5em 1em;
}

.list-output {
    margin-top: 1rem;
    width: 100%;
}

ol {
    list-style: none;
}
 
.list-wraper form {
    position: relative;
}

.form-control {
    visibility: hidden;
    position: absolute;
    font-size: .9rem;
    font-family: sans-serif;
    left: 1.7rem;
    top: 2.5rem;
}

.form-control.error {
    visibility: visible;
}

.list-item {
    display: flex;
    align-items: center;
    margin: 1em 0;
    padding: .5em 1em;
    border: 1px solid #fbfbfb;
    color: #121212;
    background-color: #fbfbfb;
    border-radius: .5em;
}


input[type="checkbox"] {
    order: -1;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.remove-button {
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    margin-left: auto;
    padding: .2em .8em;
    background-color: rgb(156, 0, 0);
    outline: none;
    border: none;
    color: #fbfbfb;
    border-radius: .4em;
}

.remove-button:hover {
    opacity: 80%;
}
